{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label> Choose the plot type....</label>
            <select class="form-control" id='first_cat'>
                <option value="bar">Bar</option>
                <option value="scatter">Scatter</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph">
                <script>
                    var graphs = {{ plot | safe}};
                    Plotly.plot('bargraph', graphs, {});
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="bargraph2">
                <script>
                    var graphs2 = {{ plot | safe}};
                    Plotly.plot('bargraph2', graphs2, {});
                </script>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}