{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
  <h1>{{title}}</h1>
</div>
<div class="container-fluid">
  <!-- For loop logic of jinja template -->
  {%for row in rows%}
  <div class="row">
    {%for gallery in row%}
    <div class="col-md-2">
      <a href="{{gallery['kk6gpv_link']}}">
        <p align=center><img src="{{gallery['thumb']}}" alt="{{gallery['caption']}}" width="100%"></p>
      </a>
      <p align=center>{{gallery['caption']}}</p>
    </div>
    {%endfor%}
  </div>
  {%endfor%}
</div>
{% endblock %}