{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <h1>Oil & Gas</h1>
</div>
<div class="container" id="oilgas_maps">
    <div class="row">
        <div class="col-md-12">
            <div class="chart" id="map_oilgas">
                <script>
                    var graphs = {{ plot | safe}};
                    Plotly.plot('map_oilgas', graphs.data, graphs.layout, {displayModeBar: false});
                </script>
            </div>
        </div>
    </div>
    <div id="log-event"></div>
    <div id="log-layout"></div>
</div>
{% endblock %}