{% extends 'layout.html' %}
{% block body %}
<div class="container-fluid" id="oilgas_mapbox">
    <br>
    <div class="mapog" id='map'></div>
    <script>
        mapboxgl.accessToken =
            'pk.eyJ1IjoiYXJlZWQxNDUiLCJhIjoiY2phdzNsN2ZoMGh0bjMybzF3cTkycWYyciJ9.4aS7z-guI2VDlP3duMg2FA';
            
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-v9',
            center: [-119, 36],
            zoom: 5
        });

        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));

        map.on('load', function () {

            map.addSource('wells', {
                type: 'geojson',
                data: '../static/wells.geojson'
            });

            map.addLayer({
                'id': 'population',
                'type': 'circle',
                'source': 'wells',
                'paint': {
                    'circle-radius': {
                        'base': 1.75,
                        'stops': [
                            [12, 2],
                            [22, 20]
                        ]
                    },
                    'circle-color': [
                        'match',
                        ['get', 'pwt'],
                        'OG', '#46940a',
                        'SC', '#71d624',
                        'WF', '#2483d6',
                        'SF', '#db2e3f',
                        /* other */
                        '#000000'
                    ]
                }
            });
        });
    </script>
    <div id="log-event"></div>
    <div id="log-layout"></div>
</div>
{% endblock %}